<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="views/style.css">
</head>
<style>
    .red_background{
        background-color: red;

    }

    .balck{
        background-color: black;
    }
    /*  */
    /* Style existant en CSS */
.stylé {
    background-color: red;
    color: white;
    font-weight: bold;
}


</style>

<body>
    <button id="btn1">Click me to apply styling</button>
<button id="btn2">Click me to remove styling</button>

<button id="btn3"> Button 3</button>

    <script>



// 


// 

        

       

//     let btn3 = document.getElementById('btn3');

// btn3.onclick = function() {
//     btn3.classList.add('stylé');
//     localStorage.setItem('btn3_me', true);
// }

// // appliquer la classe "stylé" à btn3 si elle est stockée dans le Local Storage
// window.onload = function() {
//     if (localStorage.getItem('btn3_me') === 'true') {
//         btn3.classList.add('stylé');
//     }
// }


let btn3=document.getElementById('btn3');

btn3.onclick=function(){
    btn3.classList.add('stylé');
    localStorage.setItem('stock',true);
}

window.onload=function(){
    if(localStorage.getItem('stock')=='true'){
        btn3.classList.add('stylé');

    }
}











    </script>
</body>
</html>